{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}


{% block body %}


    <h1>Création de compte</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {
            label: 'Email'
        }) }}
        {{ form_row(registrationForm.lastname, {
            label: 'Nom'
        }) }}
        {{ form_row(registrationForm.firstname, { 
            label: 'Prénom'
        }) }}
        {{ form_row(registrationForm.plainPassword,
        {
            label: 'Mot de passe'
        }) }}
        <div class="input-group mb-3">
            <span role="button" class="input-group-text" onclick="togglePassword()">
			<i class="bi bi-eye" id="eye"></i>
			<i class="bi bi-eye-slash d-none" id="eye-slash"></i>       
            </span>
        </div>
        
        {{ form_row(registrationForm.agreeTerms, {
            label: 'J\'accepte les conditions générales d\'utilisation'
        }) }}

        <button type="submit" class="btn btn-info mt-2">Créer un compte</button>
    {{ form_end(registrationForm) }}
{% endblock %}
